@CHARSET "UTF-8";

body, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #111;/*글씨색*/
	font-family:  맑은고딕 ,  굴림 ,  돋움 ;
	padding: 20px;/*안쪽 여백*/
}
form {
    background: #aa0;
   
    /*크로스 브라우저에 적용 하기 위한 것*/
	-moz-border-radius: 5px; /* firefox */
	-webkit-border-radius: 5px;/* Safari,Chrome*/
	border-radius: 5px;
	
	counter-reset: fieldsets;
	padding: 20px;/*안쪽 여백*/
	width: 350px;/*form 가로폭*/
}

form fieldset {
	border: none;
	border:1px solid green;
	margin-bottom: 5px;/*아랫쪽 바깥 여백*/
}
form fieldset:last-of-type {
	margin-bottom: 0;
}
 
form legend {/*자손*/
	color: #384313;
	font-size: 20px;
	font-weight: bold;/*강조*/
	padding-bottom: 10px;
	/*text-shadow: 0 1px 1px #c0d576;*/
}
form > fieldset > legend:before {/*자식*/
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form ol li {/*자손*/
	/*background: #f0fff0;*/
	background: #aa0;
	border-color: #e3ebc3;
	border-style: solid;
	border-width: 2px;
	
	-moz-border-radius: 5px;/*Firefox*/
	-webkit-border-radius: 5px;/*Safari ,Chrome*/
	border-radius: 5px;
	
	line-height: 30px;/*줄 간격, 20px 디폴트*/
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

form label {
	float: left;
	font-size: 13px;
	width: 110px;
}
form input:not([type=radio]) {
	background: #fff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px "맑은고딕", "굴림", "돋움";
	outline: none;
	padding: 5px;
	width: 200px;
}			

form button {
	background: #384313;
	border: none;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	color: #fff;
	display: block;
	font: 16px "맑은고딕", "굴림", "돋움";
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000;
	text-transform: uppercase;
}
form button:hover {
	background: #1e2506;
	cursor: pointer;
}
